<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Weight</th>
      </tr>
    </thead>

    <tbody id="categories-table">
      <% @categories.sort_by(&:created_at).each do |category| %>
        <tr id="categoryid<%= category.id.to_s %>">
          <td class="c_buttons"><%= link_to category.category, category, remote: true %><p id="categorybuttons<%= category.id.to_s %>"></p></td>
          <td><%= category.weight %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
